<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-3.4.1.js"integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  
    <script src="/js/doctor_route.js"></script>
    <script src="/js/doctor.js"></script>
</head>

<body>
    <h3>Add a Doctor</h3>
    <input id="name" type="text" name="name" placeholder="Name"> <br>
    <input id="qualification" type="text" name="qualification" placeholder="Qualification"> <br>
    <input id="yearOfExp" type="number" name="yearOfExp" placeholder="YearOfExp"> <br>
    <input id="department" type="text" name="department" placeholder="Department"> <br>
    <input id="submit" type="submit">
    <br><br>

    <table id="doctors" border="1" cellspacing="10" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Qualification</th>
            <th>YearOfExp</th>
            <th>Department</th>

        </tr>
        <tr>
            <td>SampleName</td>
            <td>SomeCity</td>
            <td>50</td>
            <td>SomeCity</td>
        </tr>
    </table>

</body>

</html>